
.project
.settings/org.eclipse.m2e.core.prefs
epic-duels-client/.classpath
epic-duels-client/.settings/org.eclipse.jdt.core.prefs
epic-duels-client/.settings/org.eclipse.m2e.core.prefs
epic-duels-messages/.classpath
epic-duels-server/.classpath
epic-duels-server/.settings/org.eclipse.jdt.core.prefs
epic-duels-server/.settings/org.eclipse.m2e.core.prefs
epic-duels-messages/.settings/org.eclipse.jdt.core.prefs
epic-duels-messages/.settings/org.eclipse.m2e.core.prefs
epic-duels-client/config/
epic-duels-client/images/
epic-duels-client/output.log
epic-duels-server/output.log
epic-duels-test/.classpath
epic-duels-test/.settings/org.eclipse.jdt.core.prefs
epic-duels-test/.settings/org.eclipse.m2e.core.prefs
epic-duels-test/config/
epic-duels-test/images/
epic-duels-test/output.log
epic-duels-client/Teams.properties
epic-duels-test/Teams.properties
